.socialmedia-picture{
    height: 40%;
    width: 40%;
}

.socialmedia-overview{
    margin-left: 0.75em;
    margin-right: 0.75em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    display: inline-block;
    width: 15em;
    text-align: center;
    background-color: #D2CDC7;
    border-radius: 25px;

}