.socialmedia-overview {
    margin: 1em;
    padding: 2em 1.5em;
    display: inline-block;
    width: 16em;
    text-align: center;
    background-color: #241733;
    border: 1px solid #9146FF;
    border-radius: 16px;
}

.socialmedia-overview:hover {
  transform: translateY(-4px);
}

.socialmedia-overview img {
    display: inline-block;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 12px;
}